/assignment1/output.txt
/assignment1/problem_1_submission.txt

/assignment2/select.txt
/assignment2/select_project.txt
/assignment2/union.txt
/assignment2/count.txt
/assignment2/big_documents.txt
/assignment2/two_words.txt
